h2 ~ p {
color: red;
}

#sometext {
    color: red;}
    * { 
    
    }
    * { margin: 0;
    padding: 0;}
    
    img { max-width: 100%;}
    input {width: 100%;}
    .form section { 
        max-width: 300px;
        margin-left:auto; 
        margin-right: auto;}

    .login footer {}

